<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <div class="contain">
      <div class="profilecard">
        <div class="card_background_img"></div>
        <div class="card_profile_img"></div>
        <div class="user_details">
          <h3>Username</h3>
          <p>@username</p>
        </div>
        <div class="card_count">
          <div class="count">
            <div class="fans">
              <h3>2.4M</h3>
              <p>Fans</p>
            </div>
            <div class="following">
              <h3>202</h3>
              <p>Followings</p>
            </div>
            <div class="post">
              <h3>552</h3>
              <p>Posts</p>
            </div>
          </div>
          <div class="btn">Account Settings</div>
        </div>
      </div>
      <div class="container">
        <div class="card" style="width: 18rem">
          <img src="https://images.unsplash.com/photo-1701127749663-78686c12f8e1?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
